<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new Lead</title>
    <link href="{% static 'leads/css/leads.css' %}" rel="stylesheet">
</head>
<body class = "radiant_blue_green">
    <h2>Update lead: {{ lead.first_name }} {{ lead.last_name }}</h2>

<<a href="/leads">Go Back</a>

        <form method = "POST" action=".">
            {% csrf_token %} <!-- csrf_token need for submiting forms -->
            {{ form.as_p }}
            <button type="submit">Submit</button>

            <!-- will return a message if the post was successfully submitted or not-->
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
            </ul>
            {% endif %}

        </form>

</body>
</html>