<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Tailwind CSS Skeleton</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"
    />
	</head>
<body class = "radiant_blue_green">

    <h2>Lead details for {{ lead.first_name }} {{ lead.last_name }}</h2>
    
    {% block content %}

    {% endblock %}

</body>
</html>