* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

body {
    width: 100%;
    background-repeat: no-repeat;
    background-position: left center;

      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.radiant_blue_green {
    background-image: linear-gradient(to bottom right, #79aec8, #2b2b2b, #a9a9a9, #2b2b2b, #717070 );
    height: 1000px;
    display: block;
}
.lead-grid-container {
    display: grid;
    grid-template-columns: 50% 50% ;
    padding: 2px 10px;
    margin: 0 10%;


}
.lead-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    padding: 10px 6px;
    font-size: 12px;
    text-align: center;
}

.individual-lead-grid-container {
    display: grid;
    grid-template-columns: 20% auto ;
    padding: 2px 10px;
    margin: 0 10%;
    text-align: left;

}
.individual-lead-grid-container_item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    padding: 10px 6px;
    font-size: 12px;
    text-align: left;
}
#submint_lead_btt {
    z-index:1;
    background-color: green;
}